* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    color: #ffffff;
    margin: 0 4px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    border: none;
    border-radius: 0;
}

#window {
    margin: 0 4px;
}

#appspaces {
    background-color: rgba(55, 79, 91, 0.5);
    border-radius: 6px;
    margin: 4px;
    padding: 2px;
}

#workspaces button {
    background-color: rgba(32, 30, 30, 0.5);
    border-radius: 4px;
    border: 0;
    color: #ffffff;
    margin: 0 2px;
    padding: 0 5px;
}

#workspaces button.active {
    background-color: rgba(39, 39, 39, 0.7);
}

#workspaces button:hover {
    background: rgba(70, 70, 70, 0.9);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#submap {
    margin-right: 4px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#systray {
    background-color: rgba(0, 122, 178, 0.434);
    border-radius: 6px;
    margin: 4px;
}

#sysresource {
    background-color: rgba(26, 141, 87, 0.474);
    border-radius: 6px;
    margin: 4px;
}

#clock.time {
    background-color: rgba(80, 62, 143, 0.572);
    border-radius: 6px;
    margin: 4px;
}

#battery {
    border-bottom: 2px solid #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border-bottom: 2px solid #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    border-bottom: 2px solid #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

label:focus {
    background-color: #000000;
}

#backlight {
    border-bottom: 2px solid #90b1b1;
}

#network.disconnected {
    color: #f53c3c;
}

#pulseaudio {
    background-color: rgba(11, 101, 111, 0.435);
    border-radius: 6px;
    margin: 4px;
}

#pulseaudio:hover {
    background-color: rgba(21, 137, 139, 0.526);
}

#pulseaudio.muted {
    border-bottom: 2px solid #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    border-bottom: 2px solid #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    border-bottom: 2px solid #f53c3c;
}

#custom-media {
    border-bottom: 2px solid #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    border-bottom: 2px solid #66cc99;
}

#custom-media.custom-vlc {
    border-bottom: 2px solid #ffa000;
}

#custom-power {
    background-color: rgba(254, 25, 25, 0.62);
    border-radius: 6px;
    font-weight: bold;
    margin: 4px;
}

#custom-power:hover {
    background-color: rgba(255, 66, 52, 0.546);
}

#temperature {
    border-bottom: 2px solid #f0932b;
}

#temperature.critical {
    border-bottom: 2px solid #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: rgba(102, 41, 0, 0.755);
    border-radius: 6px;
    color: rgba(234, 234, 234, 0.936);
    margin: 4px;
}

#idle_inhibitor:hover {
    background-color: rgba(178, 125, 1, 0.755);
    color: #fff;
}

#idle_inhibitor.activated {
    background-color: rgba(254, 224, 115, 0.896);
    color: #2e2e2e;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
